.contato{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--background-footer);
}

.imagem_contato{
    width: 28px;
}

.container_textos_contato{
    padding: 1em;
}

.titulo__contato{
    font-weight: 700;
    font-size: 18px;
    margin: 1em;
    color: var(--background-footer);
}

.texto__contato{
    margin: 1em;
}

.contato__email{
    background-color: transparent;
    border: 2px solid var(--background-footer);
    border-radius: 24px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
}

.contato__telefone{
    background-color: transparent;
    border: 2px solid var(--background-footer);
    border-radius: 24px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
}

.contato__email::placeholder{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    background-image: url(../imgs/Envelope.svg);
    background-size: 5vw;
    background-repeat: no-repeat;
    background-position: 1em;
    padding-left: 3em;
}

.contato__telefone::placeholder{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    background-image: url(../imgs/Telefone.svg);
    background-size: 5vw;
    background-repeat: no-repeat;
    background-position: 1em;
    padding-left: 3em;
}